body{
    background-color: black;
    color: rgb(252, 200, 132);
     font-family: "Quicksand", sans-serif;
     margin: 2px;
}

header {
    border-bottom: solid 2px rgb(252, 200, 132);
    padding: 20px;
    font-size: 32px;
    color: rgb(252, 200, 132)
}

h1{
    color: rgb(236, 244, 200);
    font-family: sans-serif;
}

p{
    color: rgb(201, 189, 25);
}

section{
    background-color: rgb(71, 65, 9);
    padding-top: 80px;
    padding-bottom: 80px;
    display:inline-flex; /* deixa as divs uma ao lado da outra*/
    justify-content: center; /*centraliza o conteudo da div*/
}

.chamada-texto{
    margin-right:  5%;
    margin-left: 5%;
}

img{
    height: 180px;
}


.categoria{
    background-color: yellow;
}
.categoria-videos {
    display: flex;
    overflow: auto;
    gap: 10px;
}